@use "../abstract/variables" as *;
@use "../abstract//mixins" as *;
.header_container {
  // position: absolute;
  background-image: linear-gradient(
      90deg,
      rgba($primary-dark, 0.95) 0%,
      // rich dark start
      rgba($primary-dark, 0.75) 30%,
      // soft fade
      rgba($primary-dark, 0.4) 60%,
      // lighter fade
      rgba($primary-dark, 0) 85% // fully transparent near image edge
    ),
    url("../../images/cottage_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 2rem);
  width: auto;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .hero-section {
    // margin-top: auto;
    .star {
      font-size: 8rem;
      color: $primary-light;
      display: inline-flex;
      align-items: center;
      animation: spin 10s linear infinite;
      // &::after {
      //   content: "";
      //   display: block;
      //   width: 50rem;
      //   height: 0.1rem;
      //   background-color: $accent-beige;
      //   animation: normal;
      // }
    }
  }

  p {
    font-size: 2.3rem;
    color: $accent-beige;
    margin-bottom: 2rem;
    line-height: 2rem;
    width: 50%;
  }
}

header {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: $primary-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: $shadow-light;
  width: calc(100vw - 4rem);

  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 0.5rem;
    height: 5rem;
    &::before {
      content: "▲";
      font-size: 4rem;
    }
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    a {
      text-decoration: none;
      color: $primary-dark;
      font-size: 1.3rem;
      text-transform: uppercase;
    }
  }
  .header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      @include pill($primary-dark);
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
      text-transform: uppercase;
    }

    button:has(span) {
      padding: 0.5rem 0.8rem;
    }
  }
}
